@media (max-width:992px) {
   .custom-class-mobile{
      display:none;
   }
}


@media (max-width:1200px) {
   .custom-class-mac{
      display:none;
   }
}

@media (max-width:1400px) {
   .custom-class-audio{
      display:none;
   }
}
