button {
    border: none;
    outline: none;
    background: black;
}

.progress .progress-bar {
  -webkit-transition: none;
       -o-transition: none;
          transition: none;
}

body {
    -webkit-user-select: none;
    overflow: hidden;
    font: -apple-system-body;
    font-size: 3em;
}