@font-face {
    font-family: 'helveticaneue_lt_45_lightRg';
    src: url('/fonts/lte50263-webfont.woff2') format('woff2'),
         url('/fonts/lte50263-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


button {
    border: none;
    outline: none;
    background: black;
}

.progress .progress-bar {
  -webkit-transition: none;
       -o-transition: none;
          transition: none;
}

body {
    -webkit-user-select: none;
    overflow: hidden;
    font-family: 'helveticaneue_lt_45_lightRg';
    
}

.frmSearch {width: 100%;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:100%;}
#country-list li{padding: 10px; background: #000000; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#000000;cursor: pointer;}
#search-box{width:80%;}

.termwhite {
    color: white;
}

.termgrey {
    color: grey;
}

.imgpad {
    
    padding: 25px;
    
}

.noimgpad {
    padding: 0px;
}

#imgone {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 142px;
  width: 142px;
  z-index: 1;
}

#imgtwo {
  position: absolute;
  left: 142px;
  top: 0px;
  height: 142px;
  width: 142px;
  z-index: 1;
}

#imgthree {
  position: absolute;
  left: 284px;
  top: 0px;
  height: 142px;
  width: 142px;
  z-index: 1;
}

#imgfour {
  position: absolute;
  left: 0px;
  top: 142px;
  height: 142px;
  width: 142px;
  z-index: 1;
}

#imgfive {
  position: absolute;
  left: 142px;
  top: 142px;
  height: 142px;
  width: 142px;
  z-index: 1;
}

#imgsix {
  position: absolute;
  left: 284px;
  top: 142px;
  height: 142px;
  width: 142px;
  z-index: 1;
}

#imgseven {
  position: absolute;
  left: 0px;
  top: 284px;
  height: 142px;
  width: 142px;
  z-index: 1;
}

#imgeight {
  position: absolute;
  left: 142px;
  top: 284px;
  height: 142px;
  width: 142px;
  z-index: 1;
}

#imgnine {
  position: absolute;
  left: 284px;
  top: 284px;
  height: 142px;
  width: 142px;
  z-index: 1;
}

